title{
    text-align: center;
    align-items: center;
}
.pic1{
    width: 300px;
    height: 300px;
}
.pic2{
    width: 300px;
    height: 300px;
}
.pic3{
    width: 300px;
    height: 300px;
}
.pic4{
    width: 300px;
    height: 300px;
}
.pic{
    display: flex;
    justify-content: space-evenly;
}