.mainh1{
    text-align: center;
}
.navbar{
   background: linear-gradient(to right,#cfbecc, #301d31);
    height: 50px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    justify-content: space-evenly;
    border-radius: 10px;
    margin-left: 5px;
    padding: auto;
}

.navbar ul{
    display: flex;
    gap: 10rem;
}
.navbar ul li{
    list-style-type: none;
}
.navbar li a{
    text-decoration: none;
    color:#f7faf1;
    
}

.image-container{
    width: 90%vw;
    height: 600px;
    display: flex;
    border-radius: 10px;
    margin-top: 1rem;
    background: linear-gradient(to right,#ebf4f5, #78e982);
    
   
}
.img{
    width: 1000px;
    height: 600px;
    background-image: url("https://images.pexels.com/photos/214574/pexels-photo-214574.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    position: absolute;
    right: 10px;
    border-radius: 10px;
   
   
    
}
.msg{
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;


}
.msg p{
    font-size: 50px;
    padding-left: 10px;
  
   
   
}

.about{
    height: 600px;
    display: flex;
    margin-top: 1rem;
    background:linear-gradient(to right,#c8eec8, #d7ddd8); ;
    padding: 10px;
   
    
}


.stresspic{
    background-color:#76C893;
    width: 700px;
    background-image: url("https://cdn.pixabay.com/photo/2015/10/31/12/25/work-1015501_640.jpg");
    height: 600px;
    
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    margin-left: 40px;
    border-radius: 10px;
}
.stressmsg{
    
    width:500px;
    height: 600px;
    padding: 8px;
    margin-left: 300px;
  
    
}
#stressheading{
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}

.cc{
    font-size: 18px;
}

































































.para1{
    font-size: x-large;
    margin-top: 1rem;
    color: #184E77;
    text-wrap:pretty;
}
.subhead1{

    width: 50%;
   
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    background-color:#76C893;
    padding: 1rem;
    border-radius: 10px;
}
.subheading1{
    
  
    display: flex;
    margin-top: 2rem;
    height: 400px;
}

.subheading2{
    display: flex;
    margin-top: 2rem;
    height: 400px;
    width: 1568px;
    margin-left: 750px;
   
}


.nextpagebtn{
    height: 40px;
    width: 200px;
    border-radius: 10px;
    background-color: green;
    margin-left: 700px;
    margin-top: 350px;
    text-align: center;
   padding: 10px;
}
